.border-line{
      border: 1px solid;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-left: 5px;
  }


.div-center{
margin-left: auto;
margin-right: auto;
border: 20px;
}

.width-80{
  background-color: lightgray;
width:80%;
}

.striking-text{
color: green;
}

.text-bold{
font-weight: bold;
}
